

/*Tablet*/

@media (max-width: 900px) {
.nav-toggle-label {
    display: flex;
  }

.header-nav {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: none;
  padding: 16px 32px;
  }

#nav-toggle:checked ~ .header-nav {
  display: flex;
  }

.header-nav ul {
  flex-direction: column;
  gap: 18px;
  }

.grid-top {
  grid-template-columns: repeat(2, 1fr);
  }

.grid-bottom {
  grid-template-columns: repeat(2, 1fr);
  }

.footer-grid {
  grid-template-columns: repeat(3, 1fr);
  }
}

/* MOBILE */

@media (max-width: 600px) {

  .hero img {
    height: 300px;
  }
  
  .grid-top,
  .grid-bottom {
    grid-template-columns: 1fr;
  }

  .exhibitions {
    padding: 32px 16px 40px;
  }

  .banner img {
    height: 340px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
  
  footer {
    padding: 32px 16px;
  }
}