


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}


.container {
  max-width: 2400px;
  margin: 0 auto;
}

.container img {
  max-width: 100%;
}

.logo {
  max-width: 100px;
  line-height: 1.4;
  font-size: 0.9rem;

  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

/* Mobile-css */

#menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

/*Main page*/

.header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

.button {
  background-color: #FCD982;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
  border-width: 10px;
}

.mainpagetext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}


/* Exhibition Spaces*/

.header-exhibition {
  position: relative;
  text-align: center;
}

.header-exhibition h2 {
  position: center;
  bottom: 2px;
  left: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Tablet*/

@media (max-width: 1024px) {

  .burger {
    display: flex;
  }

  .nav-links {
   display: none;
   flex-direction: column;
   gap: 0.5rem;
   position: absolute;
   top: 60px;
   right: 0;
   background: #fff;
   width: 100%;
   padding: 1rem;
  }

#menu-toggle:checked ~ .nav-links {
    display: flex;  
 }
} 

/*Mobile*/

@media (max-width: 768px) {

.burger {
display: flex;
}  

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  width: 100%;
  padding: 1rem;
 }

#menu-toggle:checked ~ .nav-links {
    display: flex;
  }
}